<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.check.dao.DepartmentMapper">
    <select id="getAllDep" resultType="com.example.check.pojo.Department">
        SELECT id,depName FROM department
    </select>

    <select id="getDepSecend" resultType="com.example.check.pojo.DepSecend" parameterType="int">
        SELECT id,depSecendId,depSecendName,depId FROM dep_secend WHERE depId=#{depId}
    </select>

    <select id="getDep" resultType="com.example.check.pojo.Department">
        SELECT id,depName FROM  department WHERE id=#{depId}
    </select>

    <select id="getSecend" resultType="com.example.check.pojo.DepSecend">
        SELECT id,depSecendId,depSecendName,depId FROM dep_secend WHERE depId=#{depId} and depSecendId=#{depSecendId}
    </select>

</mapper>